/*---------------------
----MODAL FOR IMAGES---
---------------------*/
.vit-modal {
}

/* The Modal (background) */
.vit-modal__backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  overflow: auto;
  background-color: rgba(51, 51, 51, 0.3);
  padding: 0px 16px;
  z-index: 99;
  opacity: 1;
  pointer-events: auto;
}

/* Modal Content */
.vit-modal__content {
  position: relative;
  background-color: white;
  margin: auto;
  height: auto;
  width: auto;
  overflow: hidden;
  padding: 20px;
  border-radius: 4px;
}

/* The Close Button */
.vit-modal__btn-close {
  color: #aaaaaa;
  float: right;
  line-height: 17px;
  font-size: 28px;
  font-weight: bold;
}

.vit-modal__btn-close:hover,
.vit-modal__btn-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Image */
.vit-modal__image {
  max-width: 100%;
  height: auto;
}
